<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Cadastrar produto</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<link rel="stylesheet" type="text/css" href="/css/style.css">


</head>
<body>

	<div class="alert alert-success" role="alert"
		th:if=${!#strings.isEmpty(mensagem)}>
		<span th:text="${mensagem}"></span>
	</div>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/produto/listar">CoinFoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/produto/listar">Produtos
					<span class="sr-only">(current)</span>
				</a> <a sec:authorize="hasRole('USER')" class="nav-item nav-link"
					href="/produto/historico">Histórico de compras</a> <a
					sec:authorize="hasRole('USER')" class="nav-item nav-link"
					href="/produto/carrinho">Carrinho</a><a
					sec:authorize="!isAuthenticated()"
					class="nav-item nav-link navbar-right" href="/cliente/logar">Login</a>
				<a sec:authorize="!isAuthenticated()" class="nav-item nav-link navbar-right" href="/cliente/formulario">Se
					Cadastrar</a> <a sec:authorize="isAuthenticated()"
					class="nav-item nav-link navbar-right" href="/logout">Sair</a>
			</div>
		</div>
	</nav>
	<div class="container text-center col-md-4">
		<h1>ATUALIZAR O PRODUTO</h1>
		<hr>
		<form method="post" action="/produto/salvar"
			enctype="multipart/form-data" th:object="${produto}">
			<input type="hidden" th:field="*{id}">
			<div class="form-group">
				<label for="nome">Nome</label> <input type="text"
					class="form-control" id="nome" th:field="*{nome}"
					placeholder="Digite o nome do produto">
			</div>
			<div class="form-group">
				<label for="preco">Preço</label> <input type="text"
					class="form-control" id="preco" th:field="*{preco}"
					placeholder="Digite o preço">
			</div>

			<div class="form-group">
				Selecione a imagem:<input type="file" name="imagem">
			</div>

			<button type="submit" class="btn btn-primary">Cadastrar</button>
			<a href="/produto/listar"><button type="button" class="btn btn-secondary">Cancelar</button></a>
		</form>

	</div>
</body>
</html>