<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/produto/listar">CoinFoot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/produto/listar">Produtos
					<span class="sr-only">(current)</span>
				</a> <a sec:authorize="hasRole('USER')" class="nav-item nav-link"
					href="/produto/historico">Histórico de compras</a> <a
					sec:authorize="hasRole('USER')" class="nav-item nav-link"
					href="/produto/carrinho">Carrinho</a><a
					sec:authorize="!isAuthenticated()"
					class="nav-item nav-link navbar-right" href="/cliente/logar">Login</a>
				<a sec:authorize="!isAuthenticated()" class="nav-item nav-link navbar-right" href="/cliente/formulario">Se
					Cadastrar</a> <a sec:authorize="isAuthenticated()"
					class="nav-item nav-link navbar-right" href="/logout">Sair</a>
			</div>
		</div>
	</nav>

	<div class="text-center container col-md-3">
		<h1>SE LOGAR</h1>
		<hr>
		<form action="/cliente/logar" method="post">
			<div class="form-group">
				<input type="text" class="form-control"
					placeholder="Digite o seu login" name="username">
			</div>

			<div class="form-group">
				<input type="password" class="form-control"
					placeholder="Digite sua senha" name="password">
			</div>

			<button type="submit" class="btn btn-primary">
				<i class="fas fa-sign-in-alt"></i>Login
			</button>

		</form>
		<div class="container">
			<a href="/cliente/formulario"><button class="btn btn-primary">
					Se cadastrar</button></a>
		</div>
	</div>
</body>
</html>